@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Sriracha", cursive;
    --fonte3: "Passion One", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1) ;
}
header{
    background-color: black;
    text-align: center;
}
header > h1{
    color: white;
    padding-top: 30px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}
header > p{
    color: whitesmoke;
    padding-bottom: 30px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    color: rgb(0, 223, 0);
    text-decoration: underline;
    transition-duration: .3s;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-style: italic;
    font-size: 4vw;
}
section > p{
    padding-bottom: 2em;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgb(20, 20, 20);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.555);
    background-attachment: fixed;
}
#img01{
    background-image: url('imagens/céu-estrelado.jpg');
    background-position: right center;
    background-size: cover;
}
#img02{
    background-image: url('imagens/relógio-mapa.jpg');
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.747);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 2px 0px black;
    background-size: cover;
}
#like{
    font-family: var(--fonte2);
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 30px;
    font-weight: bold;
}
#like:hover{
    color: blue;
    transition-duration: .2s;
    cursor: pointer;
}

#deslike{
    font-family: var(--fonte2);
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 30px;
    font-weight: bold;
}
#deslike:hover{
    color: red;
    transition-duration: .2s;
    cursor: pointer;
}

footer{
    background-color: black;
    color: white;
    padding: 7px;
    font-size: 17px;
    text-align: center;
}